$primary-gold: #ffb302;
$darker-gold: #ff9d01;
$main-font-color: #ffffff;
$body-color: #000000;
$description-font-color: #bf9280;
$carousel-bkg-color: #130900;
$carousel-border-top: #5e3c2f;
$carousel-border-btm: #3c271e;
$item-bkg: #eddcd5;

// <><><><> breakpoint mixins <><><><><><><>
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-lg: 1200px;