// show-page ==========
.banner{
	background-color: #947594;
	background-image: url(../img/shows-img-lg/Boondocks4.png);
	background-position: center bottom;

	background-repeat: no-repeat;
	background-size: contain;
	opacity: 1;
	max-height: 420px;
	padding: 43% 0 0;
	position: relative;
	text-align: right;
	width: 100%;
	height: auto;
	transition: opacity .3s ease-in-out;
	
	.banner-rating__container{
		margin-right: 5px;
	}
}
