@import "helpers/mixins";

.carousel{
    margin-bottom: 20px;
    max-height: 400px;
    background-color: rgba(242,92,214, 0.5);
}
.carousel.home{
    overflow: hidden;
}

.carousel__item{    
    height: auto;
     border-top: 1px solid $carousel-border-top;
     border-bottom: 1px solid $carousel-border-btm;
}

.carousel-inner{
	.item{
        height: 400px;
        img{
            width: auto;
            margin-left: auto;
            margin-right: auto;
            @include bp-sm{
                max-height: 400px;
            }
        }
        .jumbotron{
            height: 400px;
            background: url(../img/Adult-swim-logo-transparent.png);
            background-size: 4%;
            background-repeat: repeat;
        
            #jumbotron__item{
                position: absolute;
                top: 0;
                right: 0;
                max-width: 400px;
                z-index: -1;
                opacity: 0.25;
                @include breakpoint($breakpoint-sm){
                    max-width: 800px;
                }
            }
            .container{
                padding: 0 10%;
                max-height: 400px;
            }
            
        }
	}

}

.item__img.game{
    background: url(../img/carousel-home/RUA2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-indicators {
    bottom: -15px;
}


.item-container{

    .visible-xs{
        display: block;
        max-height: 400px;
        @include bp-sm{
            display: none;
        }
    }
    .hidden-xs{
        display: none;
        @include bp-sm{
            display: block;
        }
    }
}

