@import "helpers/mixins";
// @import "helpers/variables";
.navigation{
    // padding-left: 417px;
    //padding-left: 36%;
    margin-top: -98px;
    transition-duration: 0.3s;
    .menu-hamburger{
        position: absolute;
        //background-color: rgba(0,0,0,0.9);
        right: 0px;
        z-index: 50;
        //width: 300px;
        //height: 330px;
        transition-duration: 0.3s;
        @include bp-md{
            display: none;
        }
        .nav-item{
        	float: left;
        	//margin: 0 0 0 20px;
            margin: 0 20px 10px 50px;
        	border-top: 30px solid rgba(0,0,0,0);
            text-transform: uppercase;
            text-decoration: none;
            transition-duration: 0.3s;
            &:hover{
                border-top: 30px solid $highlight;
            }
        }
        #menu{
        	float: right;
            border-top: 0px solid $highlight;
            &:hover{
                border-top: 30px solid $highlight;
            }
        }
        .nav-item-login{
            float: left;
            margin: 0 0 0 50px;
            color: #000;
            background-color: #FFF;
            padding: 4px;
            text-transform: uppercase;
            text-decoration: none;
            transition-duration: 0.3s;
            margin-top: 30px;
            &:hover{
                color: $highlight;
                //background-color: #000;
            }

        }
        .nav-item--highlight{
            border-top: 30px solid $highlight;
            color: #FFF;
            transition-duration: 0.3s;
        }
        // .hidden-lg{
        // 	display: block;
        // 	@include bp-md{
        // 		display: none;
        // 	}
        // }
        // .visible-lg{
        // 	display: none;
        // 	@include bp-md{
        // 		display: block;
        // 	}
        // }
    }
    .menu-md{
        display: none;
        transition-duration: 0.3s;
        @include bp-md{
            display: block;
        }
        .nav-item{
            float: right;
            margin: 0 0 0 20px;
            //border-top: 30px solid rgba(0,0,0,1);
            text-transform: uppercase;
            text-decoration: none;
            transition-duration: 0.3s;
            &:hover{
                border-top: 30px solid $highlight;
            }
        }
        .nav-item-login{
            color: #000;
            background-color: #FFF;
            padding: 4px;
            border-top: 0px solid #000;
            &:hover{
                color: $highlight;
                border-top: 0px solid #000;
                //background-color: #000;
            }

        }
        .nav-item--highlight{
            border-top: 30px solid $highlight;
            color: #FFF;
            transition-duration: 0.3s;
        }
    }
}
.cross-bkg{
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    width: 100%;
    height: 100%;
    z-index: 20;
    display: block;
    transition-duration: 0.3s;
     @include bp-md{
        display: none;
    }
}
.cross{
    //margin-top: 15px;
    background: none;
	// width: 300px;
 //    height: 330px;
	position:absolute;
	top: 5px;
	right: 0;
	//padding:0px 15px 0px 15px;
	color:#fff;
	border:0;
	font-size:4em;
	//line-height:65px;
	font-weight:bold;
	cursor:pointer;
	outline:none;
	z-index:100;
    display: block;
    transition-duration: 0.3s;
    @include bp-md{
        display: none;
    }
    &:hover{
        color: $highlight;
    }
     
}
