.content-home{
	float: left;
	margin-top:20px;
	padding-bottom: 20px;
	.wrapper{
		float: left;
		width: 100%;
		height: auto;
	}
}

// .games =========== home =======
.games__title{
	@include container;
	//position: absolute;
	// top: 0;//
//	right:0;
	background-color: $highlight;
	width: 100%;
	height: 85px;
	z-index: 0;
	.games__title-item{
		position: absolute;
		//z-index: 1;
		width: 80px;
	}
}
.wrapper.games{
	// position: relative;
	// width: 100%;
	
	border-bottom: 25px solid $highlight; //remove later
	border-left: 5px solid $highlight; //remove later
	.wrapper__item.games{
		@include breakpoint($breakpoint-sm){
			@include gallery(2 of 4);
		}
		.games__item{
			float: left;
			//left: 0;
			//margin: 2px 0;
			width: 100%;
			height: auto;
			z-index: -1;
		}
		.btn-position{
			//position: absolute;
			margin-top: -74px;
			z-index: 1;
			//float: left;
			transform: translate(50%);
		}
	}
}
// END of .games ====================

// .specials ================ .home

.wrapper__item.specials{
	//position: relative;
	padding: 20px;
	.specials__item{
		padding-bottom: 20px;
		float: left;
		width: 100%;
		height: auto;
		position: relative;
		//z-index: ;
		@include bp-md{
			padding-bottom: 0px;
		}
		&:hover{
 			transition-duration: 0.5s;
			background-color: $dark-highlight;
			opacity: 0.15;
		}
	}	
	.specials__desc{
	    float: left;
	    width: 100%;
	    color: white;
	    font-weight: 600;
	    line-height: 1.3em;
	    margin-top: -188px;
	    padding: 0 25px;
	    font-size: 23px;
	    color: #000;
	    text-shadow: 1px 2px 0px rgba(255,255,255,0.5);
	}
}

.content-home.specials{
	width: 100%;
    //padding: 0 20px;
    .specials__title{
		margin-left: 20px;
	}
}
.wrapper.specials{
	background-color: $dark-highlight;
	padding: 20px;
	@include bp-sm{
		padding: 0;
	}
}

// END of .specials ====================
