//<><><><><><><><><> .sidebar <><><><><><><><><>
.sidebar-home{
	float: right;
	margin-top:20px;
	@include container;
	//padding: 10px;
    background-color: #FFF;
    border: 5px solid $highlight;
	.show{
		.show__header{
			float: left;
			width: 100%;
			height: auto;
		}
	}
}
.content-home{
	float: left;
	margin-top:20px;
	padding-bottom: 20px;
	.wrapper{
		float: left;
		width: 100%;
		height: auto;
	}
}

// .games =========== home =======
.games__title{
	@include container;
	//position: absolute;
	// top: 0;//
//	right:0;
	background-color: $highlight;
	width: 100%;
	height: 85px;
	z-index: 0;
	.games__title-item{
		position: absolute;
		//z-index: 1;
		width: 80px;
	}
}
.wrapper.games{
	// position: relative;
	// width: 100%;
	
	border-bottom: 25px solid $highlight; //remove later
	border-left: 5px solid $highlight; //remove later
	.wrapper__item.games{
		@include breakpoint($breakpoint-sm){
			@include gallery(2 of 4);
		}
		.games__item{
			float: left;
			//left: 0;
			//margin: 2px 0;
			width: 100%;
			height: auto;
			z-index: -1;
		}
		.btn-position{
			//position: absolute;
			margin-top: -74px;
			z-index: 1;
			//float: left;
			transform: translate(50%);
		}
	}
}
// .specials ================ .home

.wrapper__item.specials{
	//position: relative;
	padding: 20px;
	@include breakpoint($breakpoint-sm){
		@include gallery(2 of 4);
	}
	@include breakpoint($breakpoint-md){
		//padding: 0;
		@include gallery(1 of 4);
	}
	.specials__item{
		padding-bottom: 20px;
		float: left;
		width: 100%;
		height: auto;
		position: relative;
		//z-index: ;
		@include bp-md{
			padding-bottom: 0px;
		}
		&:hover{
 			transition-duration: 0.5s;
			background-color: $dark-highlight;
			opacity: 0.15;
			border: 5px solid #000;
		}
	}	
	.specials__desc{
	    float: left;
	    width: 100%;
	    color: white;
	    font-weight: 600;
	    line-height: 1.3em;
	    margin-top: -188px;
	    padding: 0 25px;
	    font-size: 23px;
	    color: #000;
	    text-shadow: 1px 2px 0px rgba(255,255,255,0.5);
	    //border-top: 15px solid #000;
	    //opacity: 0;
	 //   	&:hover{
	 //   		transition-duration: 0.5s;
		// 	background-color: $highlight;
		// 	opacity: 0.35;
		// }
		
	}
	

}

.opaque{
	opacity: 1;
}

.content-home.specials{
	width: 100%;
    //padding: 0 20px;
    .specials__title{
		margin-left: 20px;
	}
}
.wrapper.specials{
	background-color: $dark-highlight;
	padding: 20px;
	@include bp-sm{
		padding: 0;
	}
}

// .sidebar ========================
.image-content{
	@include span(6);
	.show__title{
		padding: 0;
		margin: 10px 0 0 10px;
	}
	.show__desc{
		margin-left: 10px;
	}
}
.image-sidebar{
	@include span(6 last);
}
.image-item{
	float: left;
	width: 100%;
	height: auto;
	display: inline;
	//margin-right: 10px;
	margin: 13px -18px;
}
.image-item__vertical{
	display: block;
	float: left;
	width: 100%;
	margin-top: 30px;
	// @include bp-sm{
	// 	display: none;
	// }
}
.image-item__horizontal{
	display: none;
	float: left;
	width: 100%;
	// @include bp-sm{
	// 	display: block;
	// }
}