
// .content{
// 	.show{
// 		.show__header-container{
// 			width: 100%;
// 			background-color: #131e28;
// 			.show__header{
// 				float: left;
// 				width: 100%;
// 				height: auto;
// 				max-width: 534px;
// 			}
// 		}
// 	}
// }
.image-content{
	@include span(6);
	.show__title{
		padding: 0;
		margin: 0;
		margin-left: 10px;
	}
}
.image-sidebar{
	@include span(6 last);
}
.image-item{
	float: left;
	width: 100%;
	height: auto;
	display: inline;
}
.image-item__vertical{
	display: block;
	float: left;
	width: 100%;
	@include bp-sm{
		display: none;
	}
}
.image-item__horizontal{
	display: none;
	float: left;
	width: 100%;
	@include bp-sm{
		display: block;
	}
}