@import '../../node_modules/susy/sass/susy';

$susy: (
    flow: ltr, // ltr | rtl
    output: float, // float | isolate
    math: fluid, // fluid | static (requires column-width)
    column-width: 50px, // false | value
    container: 1200px, // length or % | auto
    container-position: center, // left | center | right | <length> [*2] (grid padding)
    last-flow: to,
    columns: 12,
    gutters: 1/12,
    gutter-position: after, // before | after | split | inside | inside-static (requires column-width)
);

////  GRID

.page {
    @include full;
}
.header__logo {
    @include container;
}
.navigation {
    @include container;
}
.hero{
    @include full;
}
.wrap{
    @include container;
}

.content {
    @include bp-md{
        @include span(8);
    }
}
.sidebar {
    @include container;
    @include bp-md{
        @include span(4 last); 
    }
}
.content--details{
    @include span(12);
}

.sidebar--details{
    @include span(12);
}

// index.html ================ .home
// .show =====
.sidebar-home{
    @include container;
     @include bp-md{
        @include span(3 last); 
    }
}
// .games =====
.content-home{
    @include bp-md{
        @include span(9);
    }
}
// .specials=====
.content-home--sub{
    @include container;
    @include gallery(1 of 4);
}

.wrapper__item.specials{
    @include breakpoint($breakpoint-sm){
        @include gallery(2 of 4);
    }
    @include breakpoint($breakpoint-md){
        //padding: 0;
        @include gallery(1 of 4);
    }
}

