header {
    height: 100px;
    background: #000;
    padding: 0 10px;
}
.header__logo{
	padding-top: 30px;
}
.header__logo--sm{
	display: block;
	height: 40px;
	@include bp-md{
		display: none;
	}
}
.header__logo--lg{
    display: none;
    @include bp-md{
    	display: block;
    	height: 40px;
    }

}