.flex-box {

    // @include span(12);
    
    // @include breakpoint($breakpoint-sm) {
    //   @include gallery(2 of 8);
    // }
    
    // @include breakpoint($breakpoint-md) {
    //   @include gallery(4 of 8);
    // }
    // height: 1500px; //other way
    // width: 100%; //other way
    // @include breakpoint-md{
    //     height: 1000px; //other way
    // }
}

.flex-box {
  // display: flex;
  // // flex-direction: row;
  // flex-flow: column wrap;
  // //flex-direction: column;
  // justify-content: flex-start;
  // align-content: flex-start;
  // align-items: flex-start;
////one idea
  // display: -webkit-flex;
  //  display: flex;
  //  -webkit-align-items: center;
  //  align-items: center;
  //  -webkit-justify-content: center;
  //  justify-content: center;
  //  -webkit-flex-flow: column wrap;
  //  flex-flow: column wrap;
  //  -webkit-align-content: center;
  //  align-content: center;
  ////one idea
    display: -webkit-flex;
    display: flex;
    // -webkit-align-items: space-between;
    // align-items: space-between;
    // -webkit-justify-content: center;
    // justify-content: center;
    /* You can set flex-wrap and flex-direction individually */
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    /* Or do it all in one line with flex flow */
    -webkit-flex-flow: wrap;//other img layout turn off
    flex-flow: wrap;//other img layout turn off
    /* tweak the where items line up on the row */
    /* valid values are: flex-start, flex-end, space-between, space-around, stretch */
    -webkit-align-content: space-around;
    align-content: space-around;

   //another one
   // flex-direction: column;
   // flex-wrap: wrap;
   // justify-content: flex-start;
   // align-items: stretch;
   // align-content: stretch;
}

.flex-box > img {
  //object-fit: contain;
  //flex-shrink: 0;
  width: 50%; 
  //height: 50%;
  padding: 5px;
  flex: 2;
  // border: 1px solid black;
}
