//<><><><><><><><><> .sidebar .home <><><><><><><><><>
.sidebar-home{
    float: right;
    margin-top:20px;
    @include container;
    //padding: 10px;
    background-color: #FFF;
    border: 5px solid $highlight;
    .show{
        .show__header{
            float: left;
            width: 100%;
            height: auto;
        }
    }
}
// .sidebar ==== .home .show ====================
.image-sidebar{
    @include span(6 last);
}
.image-item{
    float: left;
    width: 100%;
    height: auto;
    display: inline;
    //margin-right: 10px;
    margin: 13px -18px;
}
.image-item__vertical{
    display: block;
    float: left;
    width: 100%;
    margin-top: 30px;
    // @include bp-sm{
    //  display: none;
    // }
}
.image-item__horizontal{
    display: none;
    float: left;
    width: 100%;
    // @include bp-sm{
    //  display: block;
    // }
}
.image-content{
    @include span(6);
    .show__title{
        padding: 0;
        margin: 10px 0 0 10px;
    }
    .show__desc{
        margin-left: 10px;
    }
}

// ====== sidebar--shows
.dropdown--md{
    display: none;
    text-align: right;
    padding-right: 10px;
    @include bp-md{
        display: block;
    }
    .form-control{
        width: 200px;
        height: 30px;
        border: 3px solid #000;
        padding: 4px;
        border-radius: 5px;
    }
    .dropdown-menu--md{
        text-align: right;
        border-top: 2px solid #000;
        li{
            padding: 7px 0;
            a{  
                color: #000;
                text-decoration: none;
            }&:hover{
                font-weight: 500;
            }
        }
    }
}

.dropdown{
    display: block;
    @include bp-md{
        display: none;
    }
}


// ====== sidebar--show-page
.details{
    margin: 20px;
    padding: 20px;
    .details__episode{
        font-size: 1.1em;
    }
    .details__description{
        font-weight: 100;
        margin-top: 0;
    }
    &:hover{
            background-color: #333;
            //padding: 10px;
            color: #fff;
        }
}

